<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>oshine</title>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav>
	<div class="logo">
    	<img src="images/oshine-logo-black.png"/>
    </div>
	<ul class="home-nav">
    	<li class="home_erji">
        	<a href="#" class="honme">Home</a>
            <ul>
            	<li><a href="#">Pages</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Headers</a></li>
                <li><a href="#">Journal</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Shortcodes</a></li>
            </ul>
        </li>
    	<li><a href="#">Pages</a></li>
    	<li><a href="#">Portfolio</a></li>
    	<li><a href="#">SINGLE PORTFOLIO</a></li>
    	<li><a href="#">Headers</a></li>
    	<li><a href="#">Journal</a></li>
    	<li><a href="#">Shop</a></li>
    	<li><a href="#">Shortcodes</a></li>
    </ul>
    <ul class="nav_r">
    	<li><a href="#"><img src="images/img3-1.png"/></a></li>
    	<li><a href="#"><img src="images/img2-2.png"/></a></li>
    	<li><a href="#"><img src="images/img1-1.png"/></a></li>
    </ul>
</nav>
<div class="banner">
	<div class="bannerlong">
    	<img src="images/banner1.jpg">
    	<img src="images/banner2.jpg">
    	<img src="images/banner3.jpg">
    	<img src="images/banner1.jpg">
    </div>
    <div class="stylish_t">making the web</div>
    <div class="stylish">stylish</div>
    <div class="stylish_b">The Best or Nothing</div>
</div>
<div class="main">
	<div class="wao">
    	<h3>WE ARE OSHINE</h3>
        <p class="xieti">A beautiful responsive multi-purpose wordpress theme</p>
        <div class="xiaotuxing"><span></span></div>
    	<p class="ouse">Oshine comes with 12 unique and stunning demos. We have crafted each and every demo<br/> with extensive care and precision and the theme is power packed yet easy to use.</p>
        <img src="images/oshin-mockups-1024x377.png"/>
    </div>
 	<div class="xiaotubiao">
    		<div class="tu">
            	<a href="#">
                <img src="images/img07.png"/>
                <h5>12 DEMOS</h5>
                </a>
            </div>
    		<div class="tu" id="tu1">
            	<a href="#">
                <img src="images/img05.png"/>
                <h5>POWERFUL OPTIONS</h5>
                </a>
        </div>
    		<div class="tu">
            	<a href="#">
                <img src="images/img03.png"/>
                <h5>PAGE BUILDER</h5>
                </a>
        </div>
    		<div class="tu" id="tu2">
            	<a href="#">
                <img src="images/img01.png"/>
                <h5>UNLIMITED PORTFOLIO</h5>
                </a>
        </div>
    </div>
    <article>
    	<div class="section">
        	<ul>
            	<li>
                	<h4>MODERN DESIGN</h4>
                    <p>Proin facilisis varius nunc. Curabitur eros risus,<br/> ultrices et dui ut, luctus accumsan nibh. Fusce<br/> convallis sapien placerat tellus suscipit<br/> vehicula.</p>
                </li>
            	<li>
                	<h4>SUPER  CUSTOMIZABLE</h4>
                    <p>Proin facilisis varius nunc. Curabitur eros risus,<br/> ultrices et dui ut, luctus accumsan nibh. Fusce<br/> convallis sapien placerat tellus suscipit<br/> vehicula.</p>
                </li>
            	<li>
                	<h4>UNIQUE LAYOUT</h4>
                    <p>Proin facilisis varius nunc. Curabitur eros risus,<br/> ultrices et dui ut, luctus accumsan nibh. Fusce<br/> convallis sapien placerat tellus suscipit<br/> vehicula.</p>
                </li>
            </ul>
        </div>
    	<div class="shouji">
        <img src="images/iphone-oshin-513x1024.png"/>
        </div>
    	<div class="section" id="section_t">
        	<ul>
            	<li>
                	<h4>AJAX TRANSITIONS</h4>
                    <p>Proin facilisis varius nunc. Curabitur eros risus,<br/> ultrices et dui ut, luctus accumsan nibh. Fusce<br/> convallis sapien placerat tellus suscipit<br/> vehicula.</p>
                </li>
            	<li>
                	<h4>WOO COMMERCE</h4>
                    <p>Proin facilisis varius nunc. Curabitur eros risus,<br/> ultrices et dui ut, luctus accumsan nibh. Fusce<br/> convallis sapien placerat tellus suscipit<br/> vehicula.</p>
                </li>
            	<li>
                	<h4>40+ MODULES</h4>
                    <p>Proin facilisis varius nunc. Curabitur eros risus,<br/> ultrices et dui ut, luctus accumsan nibh. Fusce<br/> convallis sapien placerat tellus suscipit<br/> vehicula.</p>
                </li>
            </ul>
        </div>
    <div class="clear"></div>
    </article>
    <div class="gundong"></div>
    <div class="ourwork">
    	<h3>OUR WORK</h3>
    	<p>A beautiful responsive multi-purpose wordpress theme</p>
        <div class="xiaotuxing"><span></span></div>
        <ul class="all">
        	<li><a href="#">All</a></li>
        	<li><a href="#">Brochures</a></li>
        	<li><a href="#">Mobile</a></li>
        	<li><a href="#"> Slider</a></li>
        	<li><a href="#">Videos</a></li>
        	<li><a href="#">Web</a></li>
        </ul>
        <section>
        	<a href="#"><img src="images/pic1.jpg"/></a>
        	<a href="#"><img src="images/pic2.jpg"/></a>
        	<a href="#"><img src="images/pic3.jpg"/></a>
        	<a href="#"><img src="images/pic4.jpg"/></a>
        	<a href="#"><img src="images/pic5.jpg"/></a>
        	<a href="#"><img src="images/pic6.jpg"/></a>
        </section>
        <div class="view">VIEW ALL WORK</div>
    </div>
    <div class="xiaoniao">
    	<h3><img src="images/birdicon.png"/></h3>
        <p>RT @<span>InteractiveAU</span>: Growth hacking is marketing that doesnt scale says @aholmes360 #IMDS15</p>
        <p class="rt1"><a href="#">https://t.co/BrrwDbR2Pn</a></p>
        <p class="rt2">@envato</p>
    </div>
    <div class="clients">
    	<h3>OUR CLIENTS</h3>
    	<p>A beautiful responsive multi-purpose wordpress theme</p>
        <div class="xiaotuxing"><span></span></div>
    	<div class="pv">
        	<ul>
            	<li>
        			<a href="#">
                    <img src="images/Marks_2048x1536_144dpi_12_1000.jpg"/>
                    <img src="images/Marks_2048x1536_144dpi_3_1000.jpg"/>
                    <img src="images/Marks_2048x1536_144dpi_2_1000.jpg"/>
                    <img src="images/Marks_2048x1536_144dpi_4_1000.jpg"/>
                    <img src="images/Marks_2048x1536_144dpi_12_1000.jpg"/>
                    </a>
                </li>
            	<li>
        			<a href="#">
                    <img src="images/Marks_2048x1536_144dpi_11_1000.jpg"/>
                    <img src="images/Marks_2048x1536_144dpi_9_1000.jpg"/>
                    <img src="images/Marks_2048x1536_144dpi_5_1000.jpg"/>
                    <img src="images/Marks_2048x1536_144dpi_8_1000.jpg"/>
                    <img src="images/Marks_2048x1536_144dpi_11_1000.jpg"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="heitiao">
    	<h3>GET IN TOUCH</h3>
    	<p>Have an idea or a project, lets collaborate and build some awesome stuff</p>
        <p class="now"><a href="#">BUY NOW</a></p>
    </div>
</div>
<footer>
	<div class="footer_t">
    	<div class="orlf">
        	<h4><img src="images/oshin-black-logo.png"/></h4>
            <p>Ea mei nostrum imperdiet deterruisset,<br/> mei ludus efficiendi ei. Sea summo<br/> mazim ex, ea errem eleifend <br/>definitionem vim. Detracto erroribus et<br/> mea.</p>
            <ul>
            	<li><a href="#"><img src="images/footer_pic_03.jpg"/></a></li>
            	<li><a href="#"><img src="images/footer_pic_05.jpg"/></a></li>
            	<li><a href="#"><img src="images/footer_pic_07.jpg"/></a></li>
            	<li><a href="#"><img src="images/footer_pic_09.jpg"/></a></li>
            </ul>
        </div>
    	<div class="posts">
        	<h4>Recent Posts</h4>
            <ul>
            	<li>
                	<p>Oshine – a CreativeM<br/> Multipurpose WordPress </p><br/>
                    <p>theme<br/>October 10, 2014</p>
                </li>
            	<li class="last">
                	<p>Oshine – a CreativeM<br/> Multipurpose WordPress </p><br/>
                    <p>theme<br/>October 10, 2014</p>
                </li>
            </ul>
        </div>
    	<div class="links">
        	<h4>Links</h4>
            <ul>
            	<li>Home</li>
            	<li>About Us</li>
            	<li>Team</li>
            	<li>Blog</li>
            	<li>Contact</li>
            </ul>
            
        </div>
    	<div class="from">
        	<h4>From Instagram</h4>
            <ul>
            	<li><a href="#"><img src="images/foot_pic1.jpg"></a></li>
            	<li><a href="#"><img src="images/foot_pic2.jpg"></a></li>
            	<li><a href="#"><img src="images/foot_pic3.jpg"></a></li>
            	<li><a href="#"><img src="images/foot_pic4.jpg"></a></li>
            	<li><a href="#"><img src="images/foot_pic5.jpg"></a></li>
            	<li><a href="#"><img src="images/foot_pic6.jpg"></a></li>
            	<li><a href="#"><img src="images/foot_pic7.jpg"></a></li>
            	<li><a href="#"><img src="images/foot_pic8.jpg"></a></li>
            	<li><a href="#"><img src="images/foot_pic9.jpg"></a></li>
            </ul>
        </div>
    </div>
	<div class="footer_b">
    	<p>Copyright Brand Exponents 2014. All Rights Reserved</p>
    </div>
</footer>


</body>
</html>
