<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>awesome</title>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/awesome.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
     <div class="header-t">
     		<div class="container">
                <ul class="list-inline pull-left">
                    <li>
                        <span class="glyphicon glyphicon-time wenzi"></span>
                        <p>Sunday,February 16,2004</p>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-earphone wenzi"></span>
                        <p>+12 345 6789000</p>
                    <li>
                        <span class="glyphicon glyphicon-envelope wenzi"></span>
                        <a href="#"><p>yourmail@gmail.com</p></a>
                    </li>
                </ul>
                <ul class="list-inline pull-right header-t-r hidden-xs">
                	<li><span class="fa fa-facebook"></span></li>
                	<li><span class="fa fa-twitter"></span></li>
                	<li><span class="fa fa-linkedin"></span></li>
                	<li><span class="fa fa-tumblr"></span></li>
                	<li><span class="fa fa-flickr"></span></li>
                </ul>
            </div>
            </div>
     <div class="header-b">
     		<div class="container">
                <div class="logo pull-left">
                	<img src="images/logo.png"/>
                	<span>AWE<strong>SOME</strong></span>
                </div>
                <div class="pull-right header-b-r">
                <ul class="list-inline">
                	<li class="home">
                    	<a href="#">Home</a>
                    	<ul class="erji hidden-lg hidden-md hidden-sm">
                        	<li><a href="#">About</a></li>
                        	<li><a href="#">Portfolios</a></li>
                        	<li><a href="#">Features</a></li>
                        	<li><a href="#">Our Products</a></li>
                        	<li><a href="#">Contact Us</a></li>
                        </ul>
                    </li>
                	<li class="hidden-xs"><a href="#">About</a></li>
                	<li class="hidden-xs"><a href="#">Portfolios</a></li>
                	<li class="hidden-xs"><a href="#">Features</a></li>
                	<li class="hidden-sm hidden-xs"><a href="#">Our Products</a></li>
                	<li class="hidden-sm hidden-xs"><a href="#">Contact Us</a></li>
                    <li class="shousuo"><a href="#" class="glyphicon glyphicon-search"></a></li>
                </ul>
               </div>
            </div>
     </div>
</header>
<section class="banner">
	<div class="container">
    	<div class="row hidden-md hidden-sm hidden-xs">
        	<div class="col-lg-5 img-responsive">
            	<img src="images/img.png"/>
            </div>
        	<div class="col-lg-7">
            	<h2>An Amazing Responsive wordpress theme</h2>
                <p>Lorem ipsum ex vix illud nonummy<br/>
novum tation et his. At vix scriptaset patrioque scribentur, at pro<br/> fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix <br/>illud nonummy, novum tation et his. Cum sociis natoque penatibus et<br/> magnis dis parturient montes, nascetur ridiculus.</p>
            </div>
        </div>
    	<div class="row visible-md visible-sm putong">
        	<div class="col-md-12 col-sm-12 pt-md">
            	<h2>An Amazing Responsive wordpress theme</h2>
                <p>Lorem ipsum ex vix illud nonummy
novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
            </div>
        </div>
    	<div class="row visible-xs sj">
        	<div class="col-xs-12">
            	<h2>An Amazing Responsive wordpress theme</h2>
                <p>Lorem ipsum ex vix illud nonummy
novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
            </div>
        </div>
    </div>
</section>
<section class="main">
	<div class="container">
    	<h3>Some Amazing Features</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at.Cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet erorem ipsum dolor sit amet consectetuer adipiscing elit. Mauris fermentum dictum magna.
</p>
		<div class="row daohang">
        	<h4 class="pull-left hidden-xs hidden-sm">Recent Portfolio</h4>
            <div class="btn-group pull-right hidden-xs hidden-sm">
                <button type="buttom" class="btn btn-default">ALL</button>
                <button type="buttom" class="btn btn-default">VATEGORY1</button>
                <button type="buttom" class="btn btn-default">VATEGORY2</button>
                <button type="buttom" class="btn btn-default">VATEGORY3</button>
            </div>
            <div class="visible-xs visible-sm">
                <button type="buttom" class="btn btn-default">ALL</button>
                <button type="buttom" class="btn btn-default">VATEGORY1</button>
                <button type="buttom" class="btn btn-default">VATEGORY2</button>
                <button type="buttom" class="btn btn-default">VATEGORY3</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="pic">
                	<div ><img src="images/pic 116.png"/></div>
                    <h5>Responsive Design</h5>
                    <p>Quisque euismod orci ut et .</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pic">
                	<img src="images/pic113.png"/>
                    <h5>Responsive Design</h5>
                    <p>Quisque euismod orci ut et .</p>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
                <div class="pic">
                	<img src="images/pic 115.png"/>
                    <h5>Responsive Design</h5>
                    <p>Quisque euismod orci ut et .</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pic">
                	<img src="images/pic114.png"/>
                    <h5>Responsive Design</h5>
                    <p>Quisque euismod orci ut et .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-c">
	<div class="beijinse">
        <div class="container">
                <h2>Welcome to our website!</h2>
                <p>We're experts in this field and we strive to provide high-quality web design, custom development and maintenance. Our goal is to provide unique design, powerful and practical functions, easy operation and user-friendly interface.</p>
                <a href="#">Purchase Now</a>
        </div>
    </div>
</section>
<section class="main-b">
	<div class="container">
    	<div class="row">
        	<div class="fcp col-md-4">
            	<h5>Full Responsive</h5>
                <p>Loren ipsum dolor sit met,consectetur adipiscing edit Ut volutpat rutrum eros sit met ollicitudin Lorem ipsum dolor sit met,consectetur.</p>
            </div>
        	<div class="fcp col-md-4">
            	<h5>Code with love</h5>
                <p>Loren ipsum dolor sit met,consectetur adipiscing edit Ut volutpat rutrum eros sit met ollicitudin Lorem ipsum dolor sit met,consectetur.</p>
            </div>
        	<div class="fcp col-md-4">
            	<h5>Professional customer</h5>
                <p>Loren ipsum dolor sit met,consectetur adipiscing edit Ut volutpat rutrum eros sit met ollicitudin Lorem ipsum dolor sit met,consectetur.</p>
            </div>
        </div>
        <div class="row">
        	<h4 class="col-sm-8">Latest News</h4>
        	<h4 class="col-sm-4 hidden-md hidden-sm hidden-xs">Our Service</h4>
        </div>
        <div class="row">
        	<div class="col-lg-4 col-md-6">
            	<div class="nov clearfix nov-20">
                	<div class="nov-pic col-lg-5 col-md-4 col-sm-3 col-xs-2"><img src="images/nov121.png"/></div>
                    <div class="nov-text col-lg-7 col-md-8 col-sm-9 col-xs-10">
                        <h5>Hello world! This is my First Post</h5>
                        <p>cum socks natoque penatibus et manies dis parturient montes.nascetur ridiculous mus</p>
                    </div>
                </div>
            	<div class="nov clearfix nov-8">
                	<div class="nov-pic col-lg-5 col-md-4 col-sm-3 col-xs-2"><img src="images/nov123.png"/></div>
                    <div class="nov-text col-lg-7 col-md-8 col-sm-9 col-xs-10">
                        <h5>Hello world! This is my First Post</h5>
                        <p>cum socks natoque penatibus et manies dis parturient montes.nascetur ridiculous mus</p>
                    </div>
                </div>
            </div>
        	<div class="col-lg-4 col-md-6">
            	<div class="nov clearfix nov-11">
                	<div class="nov-pic col-lg-5 col-md-4 col-sm-3 col-xs-2"><img src="images/nov122.png"/></div>
                    <div class="nov-text col-lg-7 col-md-8 col-sm-9 col-xs-10">
                        <h5>Hello world! This is my First Post</h5>
                        <p>cum socks natoque penatibus et manies dis parturient montes.nascetur ridiculous mus</p>
                    </div>
                </div>
            	<div class="nov clearfix nov-24">
                	<div class="nov-pic col-lg-5 col-md-4 col-sm-3 col-xs-2"><img src="images/nov 124.png"/></div>
                    <div class="nov-text col-lg-7 col-md-8 col-sm-9 col-xs-10">
                        <h5>Hello world! This is my First Post</h5>
                        <p>cum socks natoque penatibus et manies dis parturient montes.nascetur ridiculous mus</p>
                    </div>
                </div>
            </div>
        	<h4 class="col-md-12 hidden-lg ml">Our Service</h4>
		    <div class="sideMenu col-lg-4 col-md-12" style="margin:0 auto">
			<h3 class="on"><em></em>MANAGEMENT CONSULTING</h3>
			<ul>
				<li>“Loren ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur</li>
			</ul>

			<h3><em></em>MANAGEMENT CONSULTING</h3>
			<ul>
				<li>“Loren ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur</li>
			</ul>
			<h3><em></em>MANAGEMENT CONSULTING</h3>
			<ul>
				<li>“Loren ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur adipiscing edit.Ut volutpat rutrum eros sit met sollicitudin.Lorem ipsum dolor sit met,consectetur</li>
			</ul>
			<script type="text/javascript">
			jQuery(".sideMenu").slide({
				titCell:"h3", 
				targetCell:"ul", 
				effect:"slideDown", 
				delayTime:400 , 
				triggerTime:300, 
				defaultPlay:true,
				returnDefault:true,
				});
		</script>
		</div>
        </div>
    </div>
</section>
<footer>
	<div class="footer-t">
    	<div class="container">
            <h3>Our Team</h3>
            <p>DDNSmart.net devotes to DNN development work since 2008.We’re experts in this field and we strive to provide high-quality web design,custom development and maintenance.Our goal is to provide unique design,powerful and practical functions,easy operation and user-friendly interface.</p>
            <div class="row">
            	<div class="ft col-md-3 col-sm-6">
                	<div class="ft-pic"><img src="images/rm-117.png"/></div>
                    <h5>Frankie</h5>
                </div>
            	<div class="ft col-md-3 col-sm-6">
                	<div class="ft-pic"><img src="images/rm-118.png"/></div>
                    <h5>Elia Erica</h5>
                </div>
            	<div class="ft col-md-3 col-sm-6">
                	<div class="ft-pic"><img src="images/rm-119.png"/></div>
                    <h5>Brown Jone</h5>
                </div>
            	<div class="ft col-md-3 col-sm-6">
                	<div class="ft-pic"><img src="images/rm-120.png"/></div>
                    <h5>Mark die</h5>
                </div>
            </div>
        </div>
    </div>
	<div class="footer-b">
    	<div class="logo">
             <img src="images/logo.png"/>
             <span>AWE<strong>SOME</strong></span>
    	</div>
        <p>COPYRIGHT 2012 BY AWESOME</p>
        <ul class="list-inline">
        	<li><a href="#">COPYRIGHT 2012 BY AWESOME</a></li>
        	<li><a href="#">PRIVACY STATEMENT</a></li>
        	<li><a href="#">TERMS OF USE</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
<script type="text/javascript">
