<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link href="css/roof.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="header"></div>
<div id="banner"></div>
<div id="main"></div>
<div id="footer"></div>
<div id="mask">
	<div class="mask_inner">
        <a name="top"></a>
    	<div class="mask_header">
        	<div class="header_t">
            	<div class="call">
                <a href="#"><img src="images/call_03.gif"/></a>
                <p>Call us:<span>(800)2345-6789</span></p>
                </div>
                <div class="nav_t">
                <a href="#"></a>
                <a href="#" class="xn"></a>
                </div>
            </div>
        	<div class="header_b">
            	<div class="logo">
                	<img src="images/logo.jpg"/>
                </div>
                <div class="nav_b">
                	<ul>
                    	<li><a href="#">HOME</a></li>
                    	<li><a href="#">ABOUT</a></li>
                    	<li><a href="#">SERVICES</a></li>
                    	<li><a href="#">NEWS</a></li>
                    	<li><a href="#">CONTECTS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mask_banner">
        	<img src="images/banner1.jpg"/>
        </div>
        <div class="mask_main">
        	<div class="main_pic">
            <img src="images/simg1.jpg"/>
            <img src="images/simg2.jpg"/>
            <div class="pic_last"><img src="images/simg3.jpg"/></div>
            </div>
            <div class="main_text">
            	<h2>SOLVING ANY OF <span> YOUR ROOFING </span> PROBLEM</h2>
            	<div class="text_l">
                	<p><span>Dolor sit amet conse ctetur adipisicing elit</span>sed do eiusmod tempor inclididunt ut labore et dolore
magna aliqua.Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip
ex ea commodo consequat.Duis aute irure dolor in rerprehenderit in voluptate velit esse cillum
dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident.</p>
					<p><span>Lorem ipsum dolor sit amet conse ctetur adipidicing elit </span>sed do eiusmod tempor incididunt ut
labore et dolore magna aliqua.Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris
nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit
esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="#">READ MORE</a>
                </div>
                <div class="text_r">
                	<p><span>Dolor sit amet conse ctetur adipisicing elit</span> sed do eiusmod tempor inclididunt ut labore et dolore
magna aliqua.Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip
ex ea commodo consequat.Duis aute irure dolor in rerprehenderit in voluptate velit esse cillum
dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident.</p>
                	<ul>
                    	<li>Lorem ipsum dolor sit amet conse ctetur adipidicing</li>
                    	<li>Elit sed do eiusmod tempor incididunt ut labore</li>
                        <li>Et dolore magna aliqua enim ad minim veniam</li>
                        <li>Quis nostrud exercitation</li>
                    </ul>
                </div>
            </div>
            <div class="main_b">
            <h2>OUR SERVICES</h2>
            <div class="main_b_pic">
            <a href="#"><img src="images/photo1.jpg"/>
            <span>Lore ipsum dolor sit amet<br/>
conse ctetur adipisicing alit</span>
            </a>
            <p>Elit sed do eiusmod tempor incididunt ut
labore et dolore magna0</p>
            </div>
            <div class="main_b_pic">
            <a href="#"><img src="images/photo2.jpg"/>
            <span>Excepteur sint occaecat<br/>
cupidatat non proident</span>
            </a>
            <p>EEiusmod tempor incididunt ut labore et doore
magna aliqua.Ut enim ad minim veniam quis
nostud.</p>
            </div>
            <div class="main_b_pic">
            <a href="#"><img src="images/photo3.jpg"/>
            <span>Sunt in culpa qui officia deserunt<br/>
mollit anim id est labo</span>
            </a>
            <p>Incididunt ut labore et dolore magna aliqua.Ut
enim ad minim veniam quis nostrud.</p>
            </div>
            <div class="main_b_pic" id="main_b_pic_last">
            <a href="#"><img src="images/photo4.jpg"/>
            <span>Dolor sit amet conse ctetur<br/>
adipisicing elit</span>
          </a>
            <p>Dolore magna aliqua.Ut enim ad minim
veniam quis nostrud.</p>
            </div>
            </div>
        </div>
        <div class="mask_footer">
        	<div class="mask_footer_t">
            	<div class="icon">
                 <img src="images/icon_home.png"/>
                 <p>8901 Marmora Road,Dlasgow,<br/>
 					D04 89GR</p>
                </div>
            	<div class="icon" id="phone">
                 <img src="images/icon_phone.png"/>
                 <p>Call Us:<br/>
                    <span>(800) 2345-6789</span></p>
                </div>
            	<div class="icon" id="mail">
                 <img src="images/icon_mail.png"/>
                 <p>Admi@demolink.org</p>
                </div>
            </div>
        	<div class="mask_footer_b">
            <p>Roof Repair @ 2014. Privacy Policy</p>
            </div>
        </div>
        <div class="top">
        	<a href="#top">
            <img src="images/gotoTop.png"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>
